.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #4caf50;
  color: white;
}

.request-projector-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 100vh; /* Para centrar verticalmente */
}

.icon-container {
  margin-bottom: 100px;
}

.react-calendar {
  width: 700px;
  max-width: 100%; 
  font-size: 1.3rem;
}

.react-calendar__tile {
  height: 90px; 
  width: 90px; 
}

.request-button,
.delete-event-button {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px; 
}

.selected-date {
  background-color: #4caf50 !important;
  color: white !important;
}

.react-calendar__tile--active,
.selected-date {
  background-color: #4caf50 !important;
  color: white !important;
}

.event-day {
  background-color: #af4c51 !important;
  color: white !important;
}


.react-calendar__tile.selected-date {
  background-color: #4caf50 !important;
  color: white !important;
}


/* Estilo al pasar el mouse por el botón de solicitud */
.request-button:hover {
  background-color: #45a049;
}